.detail:hover{
    box-shadow:2px 2px 2px 2px grey;
}
.detail{
    border-top: 1px solid red;
    padding: 0px;
    color: #33333;
    font-size:13.5px;
    height: 280px;
}
.over-detail{
    margin-bottom: 10px;
}
.detail hr{
    margin: 0px;
}
.pnlHead{
    background-color: #E53935;
    text-align: center;
    font-size: 16px;
    height: 35px;
    padding: 5px;
}
.pnlHead a{
    color: #fff;
}
.pnlHead a:hover{
    text-decoration: underline;
}
.time-lock{
    font-size: 14px;
    padding:5px;
    margin: 0px;
}
.pnlBody{
    text-align: center;
}
.pnlBody .pnlBodyHead{
    margin-bottom: 0px;
    border-left : 0px;
    text-align: left;
    border-bottom: 1px solid grey;
    padding: 5px;
}
.pnlFoot{
    text-align: center;
}
.lock-detail{
    padding:5px;
    text-align: left;
}

#radioBtn .notActive
{
    color: #3276b1;
    background-color: #fff;
}
#radioBtn{
    font-weight: bold;
}
.tableErr{
    font-size:14px;
}
.tableErr th{
    font-weight: bold;
    text-align: center;
    color: #33333;
}
.number_usage, .action, .priority{
    text-align:center;
}
#error-name{
    font-weight: bold;
    padding-left: 10px;
    color: black;
    font-size: 16px;
}
#chkOK{
    font-size:20px;
}
.locked{
    box-shadow:3px 3px 3px 3px grey;
}
.errorName{
    font-size: 18px;
    font-weight: bold;
}
.selectedErr{
    background-color: #2196F3;
}
.selectedErr:hover a{
    color: #333333;
}
.selectedErr a{
    color: #fff;
}
.btnConfirm{
    font-size:10px;
}
.btnSTL{
    padding: 5px;
    font-size: 14px;
}
.suggest{
    color: #2196f3;
}
.retestRate{
    color: #e53935;
}