
   


    .activefii {
        color: #fff;
        background: #6c757d !important;
        border: 1px solid #6c757d !important;
    }


    .closeTabsFii {
        text-align: right;
        position: absolute;
        top: 0px;
        right: 5px;
    }

    .ctTabs {
        border-radius: 3px 3px 0px 0px;
        border: 1px solid #1A232D;
        float: left;
        cursor: pointer;
        padding: 3px 23px;
        margin-top: 4px;
        margin-left: 3px;
        margin-right: 3px;
        position: relative;
        background: #1A232D;
        color: #fff;
        min-width: 140px;
        line-height: 25px;
        text-align: center;

    }

    .tabcontent {
        animation: fadeEffect 1s;
    }


    /* SCROLL TAB */
    .wrapper {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        padding: 5px;
        height: 35px;
    }

    .list {
        position: absolute;
        left: 0px;
        top: 0px;
        min-width: 2000px;
        /* margin-left: 12px; */
        margin-top: 0px;
    }

    .list .ctTabs {
        display: table-cell;
        position: relative;
        text-align: center;
        /* cursor: grab;
        cursor: -webkit-grab; */
        color: #efefef;
        vertical-align: middle;
    }

    .scroller {
        text-align: center;
        cursor: pointer;
        display: none;
        padding: 7px;
        padding-top: 11px;
        white-space: no-wrap;
        vertical-align: middle;
        color: #fff;
        /* background-color: #fff; */
    }

    .scroller-right {
        float: right;
    }

    .scroller-left {
        float: left;
    }
    /* END SCROLL TAB */